@import "/src/styles/unit";

@mixin text {
  font-weight: 400;
  font-size: rem(24);
  line-height: rem(30);
}

@mixin title {
  font-weight: 700;
  font-size: rem(48);
  line-height: rem(59);
  text-align: center;
}

@mixin content {
  font-weight: 400;
  font-size: rem(16, 16);
  line-height: rem(24, 24);
}
@mixin contentMobile {
  font-weight: 400;
  font-size: rem(14, 14);
  line-height: rem(21,24);
}

@mixin textMobile {
  font-weight: 500;
  font-size: rem(16,16);
  line-height: rem(20, 20);
}
@mixin titleMobile {
  font-weight: 700;
  font-size: rem(32,32);
  line-height: rem(40, 32);
  text-align: center;
}