@use "/src/styles/mixins";

.heading {
  @include mixins.title;
  margin: 144px 0 80px;
  color: var(--primary-color);
}
.gridOne {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  div {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    img {
      width: 100%;
    }
    .title {
      margin: 0;
      position: absolute;
      bottom: 30px;
      left: 50px;
      @include mixins.text;
      color: var(--text-color);
      z-index: 2;
      .line {
        vertical-align: middle;
        display: inline-block;
        margin-right: 20px;
        width: 4px;
        height: 4rem;
        background-color: var(--secondary-color);
        border-radius: 6px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      background: linear-gradient(0deg, #003e3e 0%, rgba(0, 62, 62, 0) 100%);
      border-radius: 0px 0px 30px 30px;
      z-index: 1;
    }
  }
  .card5 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    span {
      height: 100% !important;
    }
  }
  .card21 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    background-color: azure;
  }
}

@media (max-width: 768px) {
  .heading {
    margin: 48px 0;
    @include mixins.titleMobile;
  }
  .gridOne {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    div {
      .title {
        @include mixins.textMobile;
        bottom: 16px;
        left: 8px;
        .line {
          height: 24px;
          margin-right: 8px;
        }
      }
    }
    .card5 {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
    }
    .card21 {
      grid-column: 1 / span 2;
      grid-row: 5 / span 1;
    }
  }
}
