@use "/src/styles/mixins";

.heading {
  @include mixins.title;
  margin: 144px 0 80px;
  color: var(--primary-color);
}
.gridOne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  div {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    .imgWrap {
      width: 100%;
      height: 300px;
      position: relative;
    }
    .title {
      margin: 0;
      position: absolute;
      bottom: 30px;
      left: 50px;
      @include mixins.text;
      color: var(--text-color);
      font-weight: 500;
      z-index: 2;
      .line {
        vertical-align: middle;
        display: inline-block;
        margin-right: 20px;
        width: 4px;
        height: 4rem;
        background-color: var(--secondary-color);
        border-radius: 6px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      background: linear-gradient(0deg, #003e3e 0%, rgba(0, 62, 62, 0) 100%);
      border-radius: 0px 0px 30px 30px;
      z-index: 1;
    }
  }
}

@media (max-width: 768px) {
  .heading {
    margin: 48px 0;
    @include mixins.titleMobile;
  }
  .gridOne {
    gap: 16px;
    grid-template-columns: auto;
    div {
      .title {
        @include mixins.textMobile;
        bottom: 24px;
        left: 24px;
        .line {
          width: 2px;
          height: 32px;
          margin-right: 8px;
        }
      }
    }
  }
}
