.menu {
  padding: 26px;
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--secondary-color);
  text-transform: capitalize;
  .items {
    display: grid;
    gap: 32px;
    margin: 60px 0;
    a {
      justify-self: center;
      width: fit-content;
      transition: all 0.5s;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 100%;
        bottom: -10px;
        background: var(--secondary-color);
        transition: transform 0.5s ease-in-out;
        transform: scaleX(0);
        transform-origin: right;
      }
      &:focus::before,
      &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
  .close {
    text-align: start;
  }
  .phone {
    width: 100%;
    margin: auto;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.2s;
    font-weight: 600;
    &:hover {
      background: var(--secondary-color);
      color: var(--primary-color);
      svg path {
        fill: var(--primary-color);
      }
    }
  }
}