@import "@/styles/unit.scss";

.navbar {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: var(--primary-color);
  height: rem(80);
  display: flex;
  align-items: center;
  .mobile {
    display: none;
  }
  .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
    .logo {
      align-self: flex-start;
    }
    nav {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        column-gap: 104px;
        align-items: center;
        text-transform: capitalize;
        font-size: 22px;
        a {
          transition: all 0.5s;
          position: relative;
          white-space: nowrap;
          &::before {
            position: absolute;
            content: "";
            height: 5px;
            width: 100%;
            bottom: -10px;
            background: var(--secondary-color);
            transition: transform 0.5s ease-in-out;
            transform: scaleX(0);
            transform-origin: right;
          }
          &:focus::before,
          &:hover::before {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
      .langs {
        select {
          border: none;
          outline: none;
          background: transparent;
          color: var(--secondary-color);
          font-size: 23px;
          option {
            background-color: var(--primary-color);
          }
        }
      }
      .phone {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid var(--secondary-color);
        border-radius: 6px;
        padding: 0 25px;
        transition: all 0.2s;
        &:hover {
          background: var(--secondary-color);
          color: var(--primary-color);
          svg path {
            fill: var(--primary-color);
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and ( max-width: 1560px) {
  .navbar {
    .box {
      nav {
        ul {
          font-size: 16px;
        }
      }
      .right {
        .langs {
          select {
            font-size: 16px;
          }
        }
        .phone {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 1025px) {
  .navbar {
    .box {
      display: none;
    }
    .mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--secondary-color);
      .brand {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      .langs {
        select {
          border: none;
          outline: none;
          background: transparent;
          color: var(--secondary-color);
          font-size: 23px;
          option {
            background-color: var(--primary-color);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .mobile {
      .langs {
        select {
          font-size: 16px;
        }
      }
    }
  }
}