@use "/src/styles/mixins";

.header {
  width: 100%;
  min-height: 50vh;
  height: 90vh;
  max-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(250, 249, 244, 1) 60%,
    rgba(0, 62, 62, 1) 55%
  );
  .flex {
    height: 100%;
    display: flex;
    .imgWrap {
      flex: 2;
      border-left: 1.5rem solid #bc907e;
      border-right: 1.5rem solid #bc907e;
      text-align: left;
      margin-right: 5vw;
      img {
        height: 100%;
      }
    }
    .textWrap {
      flex: 3;
      padding-right: 100px;
      width: 45vw;
      height: fit-content;
      margin: auto;
      background: #faf9f4;
      text-transform: uppercase;
      .sliderWrap {
        margin-bottom: 88px;
        border: 2px solid transparent;
      }
      .heading {
        margin: 0 0 1rem 180px;
        font-weight: 400;
        font-size: 4rem;
        line-height: 83px;
        color: #121212;
      }
      .item {
        width: 100%;
        font-weight: 500;
        font-size: 4rem;
        line-height: 62px;
        padding: 16px 32px 16px 180px;
        color: var(--text-color);
        background: var(--primary-color);
        display: block;
      }
      .btn {
        margin-left: 180px;
        padding: 26px 48px;
        background-color: #bd907d;
        color: var(--text-color);
        font-weight: 500;
        font-size: 24px;
        border-radius: 100px;
        border: none;
        transition: all 0.2s;
        text-transform: uppercase;
        &:hover {
          background: #bd907d;
          box-shadow: 0px 10px 40px rgba(166, 74, 74, 0.4);
        }
      }
    }
  }
}
@media (min-width: 1100px) {
  .header {
    height: 90vh;
    .flex {
      .imgWrap {
        border-left-width: 16px;
        border-right-width: 16px;
      }
      .textWrap {
          margin-top: 200px;
        .heading {
          font-size: 56px;
          line-height: 110%;
          margin: 0 0 12px 95px;
        }
        .sliderWrap {
          margin-bottom: 64px;
        }
        .item {
          font-size: 45px;
          line-height: 130%;
          padding: 16px 49px 16px 95px;
          height: 130%;
        }
        .btn {
          margin-left: 95px;
          font-size: 24px;
          padding: 18px 32px;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .header {
    max-height: fit-content;
    height: 120vh;
    background: rgba(0, 62, 62, 1);
    .flex {
      flex-direction: column;
      .imgWrap {
        height: 50vh;
        border-width: 8px;
        padding-right: 4vw;
        margin-right: 2vw;
        img {
          height: 50vh;
          width: 100%;
          object-fit: cover;
          object-position: bottom;
        }
      }
      .textWrap {
        padding: 104px 16px 0 0;
        margin: 0;
        width: auto;
        .heading {
          margin-left: 16px;
          font-size: 32px;
          line-height: 130%;
          letter-spacing: 1px;
          margin-bottom: 0;
        }
        .item {
          padding: 8px 24px 8px 16px;
          font-size: 25px;
          line-height: 35px;
        }
        .btn {
          display: block;
          padding: 20px;
          font-size: 14px;
          margin: 0 auto;
          margin-bottom: 60px;
          letter-spacing: 1px;
          width: 90%;
        }
        .sliderWrap {
          margin: 8px 0 50px;
          height: fit-content;
        }
      }
    }
  }
}
