@import "@/styles/unit.scss";

.header {
  width: 100%;
  min-height: 60vh;
  padding: 152px 0 189px 0;

  background: linear-gradient(
      94.34deg,
      var(--primary-color) 45.95%,
      rgba(0, 62, 62, 0) 94.39%
    ),
    url(../../../../public//images//headerBg.svg);
  background-size: cover;
  background-position: center;
  .textWrap {
    margin-bottom: 120px;
    .heading {
      width: 600px;
      font-weight: 600;
      font-size: 64px;
      color: var(--text-color);
      p {
        width: fit-content;
        font-size: 48px;
        color: var(--primary-color);
        background: var(--secondary-color);
        padding: 8px 10px;
      }
    }
    button {
      padding: 26px 48px;
      background-color: var(--secondary-color);
      color: var(--primary-color);
      font-weight: 500;
      font-size: 24px;
      border-radius: 10px;
      border: none;
    }
  }
  .col {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 120px;
    .box {
      width: 271px;
      display: flex;
      gap: 24px;
      .line {
        display: inline-block;
        width: 0.4rem;
        height: auto;
        background: var(--secondary-color);
        border-radius: 10px;
      }
      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: var(--text-color);
      }
      .text {
        font-size: 16px;
        line-height: 150%;
        color: var(--text-color);
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 80px 0;
    .textWrap {
      margin-bottom: 60px;
      .heading {
        width: 343px;
        font-size: 40px;
        line-height: 130%;
        p {
          font-size: 32px;
        }
      }
      button {
        width: 100%;
        font-size: 14px;
        padding: 15px;
      }
    }
    .col {
      gap: 16px;
      .box {
        flex-direction: column;
        width: 159px;
        gap: 8px;
        .line {
          flex-shrink: 0;
          width: 56px;
          height: 56px;
        }
        .title {
          font-size: 14px;
        }
        .text {
          font-size: 12px;
        }
      }
    }
  }
}
